#imagediv {
    float: left;
    max-width: 486px;
    min-width: 486px;
    padding: 5px;
    margin: 0;
    color: gainsboro;
    background-color: #080500;
    overflow-x: auto;
}

img {
    width: 500;
    max-width: 500;
    max-height: 500;
}