#imagediv {
    float: left;
    max-width: 380px;
    min-width: 380px;
    padding: 10px;
    margin: 0;
    color: gainsboro;
    background-color: #080500;
    overflow-x: auto;
}

img {
    width: 380px;
    max-width: 380px;
    max-height: 600px;
}
